@page "/chatrooms/{id:guid}"
@using System.Security.Claims;
@using ChatJaffApp.Client.ChatRoom.Messages.Contracts;
@using ChatJaffApp.Client.ChatRoom.Messages.Models;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Text.Json;
@using ChatJaffApp.Client.ChatRoom.MyChatRooms.Contracts;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.SignalR.Client;
@using ChatJaffApp.Client.ChatRoom.MyChatRooms.Models
@using System.Text.Json;
@using Blazor.SubtleCrypto;
@inject AuthenticationStateProvider authStateProvider
@inject HttpClient httpClient;
@inject NavigationManager navigation
@inject ICryptoService Crypto;
@inject IChatRoomsService chatRoomsService
@attribute [Authorize]
@inject IMessageService messageService
<h3>Welcome</h3>

<div style="max-height: 50vh; overflow-y:auto;">
    <p>Your Messages:</p>
    @if (Messages != null)
    {
        <ul id="messagesinchatlist"  style="list-style-type: none;">


        @foreach (var message in Messages)
        {
               
                <li style="padding: 5px; background-color: @(MessageDto.UserName == message.UserName ? "green" : "cornflowerblue"); color: whitesmoke; margin-bottom: 5px; max-width: 300px;display: flex;
                    justify-content: center; align-items: center; flex-direction: column;">
                    <h4 id="messagecontent" style="font-size: 15px;">@message.UserName says @message.Content</h4>
                    @if (message.UserName == CurrentUserName)
                    {
                        @if (messageEdited)
                        {
                            <InputTextArea placeholder="@message.Content" maxlength="150" @bind-Value="editedMessage"></InputTextArea>
                            <button style="margin-top: 2px;" class="btn btn-info btn-sm" @onclick="() => sendEditMessage(message.Id)">Save</button>
                        }  
                    }
          

                <p id="messagetimestamp" style="font-size: 10px;">Sent: @message.Sent</p>
                    @if(message.UserName == CurrentUserName)
                    {
                        <button style="margin-top: 2px;" data-cy="delete-message-button" disabled="@messageEdited" class="btn btn-primary btn-sm" @onclick="() => deleteMessage(message.Id)">Delete</button>
                        <button style="margin-top: 2px;" data-cy="edit-message-button" disabled="@messageEdited" class="btn btn-info btn-sm" @onclick="() => editMessage()">Edit</button>
                    }
                    
            </li>
        }
        </ul>
    }
</div>
<div>
    <InputTextArea id="messageinputarea" maxlength="150" @bind-Value="MessageDto.Content" />
    <button id="sendmessagebtn" @onclick="onSendMessageClick" class=" btn btn-primary">Send</button>
</div>
<div>
    <button style="margin-top: 5px" class="btn btn-primary" @onclick="onSettingsClick">Settings</button>
</div>


@code {
    [Parameter]
    public Guid Id { get; set; }
    public SendMessageDto MessageDto { get; set; } = new();
    private string ErrorMessage { get; set; } = string.Empty;
    private List<ReceiveMessageDto> Messages { get; set; } = new();
    private bool Encrypted { get; set; } = false;
    public GetChatRoomDto CurrentChatRoom { get; set; }
    private EncryptionManager keeperOfSecrets = new();
    private string? CurrentUserName { get; set; } = string.Empty;
    private HubConnection? hubConnection;
    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;
    private bool messageEdited { get; set; } = false; 
    private string editedMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        CurrentChatRoom = await chatRoomsService.GetChatRoom(Id);
        GetStoredMessages();

        var state = await authStateProvider.GetAuthenticationStateAsync();
        var userId = state.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        CurrentUserName = state.User.FindFirst(ClaimTypes.Name).Value;

        MessageDto.UserId = Guid.Parse(userId);
        MessageDto.UserName = CurrentUserName;
        MessageDto.Encrypted = CurrentChatRoom.Encrypted;

        var url = navigation.ToAbsoluteUri("/chathub");

        hubConnection = new HubConnectionBuilder()
            .WithUrl(url)
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("ReceiveMessage", async (response) =>
        {
            var deserializedResponse = JsonSerializer.Deserialize<ReceiveMessageDto>(response);

            Messages.Add(deserializedResponse);
            await InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("MemberJoined", (message) =>
        {
            ReceiveMessageDto memberJoinedResponse = new()
            {
                UserName = "System",
                Content = message,
                Sent = DateTime.UtcNow
            };

            Messages.Add(memberJoinedResponse);
            InvokeAsync(StateHasChanged);
        });        
        await hubConnection.StartAsync();
        await hubConnection.SendAsync("AddToGroup", Id);
    }

    private void GetStoredMessages()
    {

        foreach (var message in CurrentChatRoom.Messages)
        {
            Messages.Add(new ReceiveMessageDto
            {
                Id = message.Id,
                UserName = message.UserName,
                Content = message.Content,
                Sent = message.Sent
            });
        };
    }

    private async Task onSendMessageClick()
    {

        if (string.IsNullOrEmpty(MessageDto.Content))
        {
            ErrorMessage = "Message can not be empty";
            //ta bort meddelande efteråt
        }
        else {

            var messageModelToJson = JsonSerializer.Serialize(MessageDto);
            await hubConnection.SendAsync("SendMessageAsync", messageModelToJson, Id);

            MessageDto.Content = string.Empty;
        }

    }

    private void onSettingsClick()
    {
        navigation.NavigateTo($"/chatrooms/{Id}/settings/");
    }

    public async void deleteMessage(Guid id)
    {

        var response = await messageService.DeleteMessage(id);
        if (response.Success)
        {
            var message = Messages.Select(m => m).Where(m => m.Id == id).FirstOrDefault();
            Messages.Remove(message);
            await InvokeAsync(StateHasChanged);
        }

    }

    public void editMessage()
    {
        messageEdited = true;
    }

    public async void sendEditMessage(Guid messageId)
    {
        EditMessageRequest newMessage = new() { MessageId = messageId , EditedMessage = editedMessage};

        var response = await messageService.EditMessage(newMessage);
        if (response.Success)
        {
            //spara det uppdaterade meddelandet i listan lokalt
            ReceiveMessageDto editedMessageToAdd = response.Data;
            editedMessageToAdd.UserName = CurrentUserName;

            Messages.Find(m => m.Id == editedMessageToAdd.Id).Content = editedMessageToAdd.Content;
            messageEdited = false;
            await InvokeAsync(StateHasChanged);
        }
        
        

    }

    


    public class SendMessageDto
    {
        public Guid UserId {get; set;}
        public string Content { get; set; }
        public string UserName { get; set; }
        public bool Encrypted { get; set; }
    }

    public class ReceiveMessageDto
    {
        public Guid Id { get; set; }
        public string? UserName { get; set; }
        public string? Content { get; set; }
        public DateTime Sent { get; set; }
    }

    
}